* {
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-image: url("../assets/background.jpg");
  background-position: bottom;
  background-size: cover;
  padding-block: 2rem;
  height: 100svh;
}

main {
  max-width: 800px;
}

h1 {
  color: black;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.create-container {
  margin-bottom: 2rem;
}

.create-container .create-form {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.create-container .create-form .new-todo {
  border: none;
  border-radius: 0.5rem;
  color: black;
  padding: 1rem 1rem;
  width: 100%;
}

.create-container .create-form .btn {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
}

.create-todo input:focus-visible {
  outline: none;
}

.todo-item {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.todo-item .action-buttons {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.todo-item .action-buttons .move-up.disable,
.todo-item .action-buttons .move-down.disable {
  color: lightgray;
  cursor: not-allowed;
}

@media screen and (min-width: 800px) {
  main {
    margin: auto;
  }
}
